
@{
    ViewBag.Title = "Logout User";
    ViewBag.PageTitle = "Logout User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Thanks for Visiting Us !!! You have been logged out.</p>

<p>Want to login again? Click below</p>

<p>Login button</p>