
@{
    ViewBag.Title = "Logout User";
    ViewBag.PageTitle = "Logout User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks for visiting, You have been logged out.</h2>
@Html.ActionLink("Login", "LoginUser", "Welcome", null, new { @class = "btn btn-primary" })