body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: antiquewhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Alters the styling seen on the login page */
.paragraph-text {
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
}

/* Alters the styling seen on the _layout page */
.shared-text {
    color: saddlebrown;
    text-align: center;
}

/* Alters the border color in the shared layout */
.underline-border {
    border-top: 1px solid gray;
}

/* Aligns the image correctly onscreen */
.center-image {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

/* Adjusts the padding space for the main page's content */
.body-padding {
    padding: 40px 40px;
}

/* Set the error messages color */
.validation-summary-errors,
.field-validation-error {
    color: red;
}

/* Alter the field's border color & size */
.input-validation-error {
    border: 2px solid red;
}