@if (Session["User"] != null) {
    <nav class='navbar navbar-default'>
        <div class='container-fluid container'>
            @if (Session["Admin"] == null) {
                @Html.ActionLink("Get Quote", "GetStarted", "Quotes", new { area = "" }, new { @class = "navbar-brand" })        
                @Html.ActionLink("Retrieve Quote", "QuoteDetails", "Quotes", new { area = "" }, new { @class = "navbar-brand" })
            }

            @if (Session["Admin"] != null) {
                @Html.ActionLink("Home", "SearchUser", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            }

            @Html.ActionLink("Logout", "LogoutUser", "Welcome", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </nav>
}