@{
    ViewBag.Title = "Policy Terms";
    ViewBag.PageTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <a href="javascript:history.back()">Go Back</a>
</div>

<h2>A summary of your cover</h2>

<i>
    Please read this document carefully, it provides a summary of cover. It does not show all
    of the benefits, exclusions or limits. Please refer to your policy booklet and policy
    schedule for full details of all terms, conditions and endorsements or excesses that may
    apply. Your policy schedule will show the period of cover and which of the following
    sections of cover you have requested.
</i>

<h3>Section 1 - Buildings</h3>

<h4>What is covered:</h4>
<li>Your home and its walls, roofs, drives, patios</li>
<li>Permanent fixtures such as kitchen units, bathroom fittings, fitted wardrobes</li>
<li>Utility buildings including sheds, garages</li>
<br />

<h4>Loss or Damage Coverage:</h4>
<li>Fire</li>
<li>Theft</li>
<li>Storm or flood</li>
<li>Vandalism or malicious act</li>
<li>Escape of water</li>
<li>Subsidence</li>
<br />

<h3>Section 2 - Contents</h3>

<h4>What is covered:</h4>
<li>Household goods, including non-permanent fixtures</li>
<li>Fittings like carpets and curtains</li>
<li>Personal belongings in the home, garages and sheds</li>
<br />

<h4>Loss or Damage Coverage:</h4>
<li>Fire</li>
<li>Theft</li>
<li>Storm or flood</li>
<li>Vandalism or malicious act</li>
<li>Escape of water</li>
<li>Subsidence</li>
<br />

<h3>Summary of Exclusions and Limits</h3>

<h4>Your policy will not pay for the following if caused by any paying guest or tenant:</h4>
<li>Theft or attempted theft</li>
<li>Vandalism or malicious acts</li>
<li>Accidental breakage of fixed glass and sanitary ware</li>
<li>Accidental damage</li>
<br />

<h4>After your home has been unoccupied for more than 60 days in a row your policy will not pay for:</h4>
<li>Theft or attempted theft</li>
<li>Vandalism or malicious acts</li>
<li>Water or oil escaping</li>
<li>Damage to plumbing installation by frozen or burst pipes</li>
<li>Accidental breakage of fixed glass and sanitary ware</li>
<br />

<h4>Domestic pets:</h4>
<li>Your policy will not pay for accidental damage by domestic pets</li>
<br />

<h4>Escape of water:</h4>
<li>
    Your policy will not pay for loss or damage caused by subsidence, heave or
    landslip that results from the escaping water
</li>
<br />

<h3>Section 3 - Personal Possessions</h3>

<h4>What is covered:</h4>
<li>
    Items that you normally take out of the home or on holiday such as jewellery, cameras, sports
    equipment, money and pedal cycles (up to £1,000 per cycle)
</li>
<br />

<p>Home Insurance Priority Line: 345-345-345</p>