
@{
    ViewBag.Title = "PolicyTerms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Terms</h2>

@Html.ActionLink("Go Back", "BuyPolicy", "Policy")

<p>A summary of your cover</p>

<p>
    Please read this document carefully, it provides a summary of cover.
    It does not show all of the benefits, exclusions or limits. Please
    refer to your policy booklet and policy schedule for full details of all
    terms, conditions and endorsements or excesses that may apply.
</p>

<p>
    Your policy schedule will show the period of cover and which
    of the following sections of cover you have requested.
</p>

<p>Section 1 - Buildings</p>

<p>What is covered:</p>
<li>Your home and its walls, roofs, drives, patios</li>
<li>Permanent fixtures such as kitchen units, bathroom fittings, fitted wardrobes</li>
<li>Utility buildings including sheds, garages</li>
<br />

<p>Loss or Damage</p>

<p>What you are covered for:</p>
<li>Fire</li>
<li>Theft</li>
<li>Storm or flood</li>
<li>Vandalism or malicious act</li>
<li>Escape of water</li>
<li>Subsidence</li>
<br />

<p>
    Section 2 - Contents Household goods, including non-permanent fixtures and fittings like carpets
    and curtains Personal belongings in the home, garages and sheds
</p>

<p>Loss or Damage</p>

<p>What you are covered for:</p>
<li>Fire</li>
<li>Theft</li>
<li>Storm or flood</li>
<li>Vandalism or malicious act</li>
<li>Escape of water</li>
<li>Subsidence</li>
<br />

<p>Summary of Exclusions and Limits</p>

<p>Your policy will not pay for the following if caused by any paying guest or tenant:</p>
<li>Theft or attempted theft</li>
<li>Vandalism or malicious acts</li>
<li>Accidental breakage of fixed glass and sanitary ware</li>
<li>Accidental damage</li>
<br />

<p>After your home has been unoccupied for more than 60 days in a row your policy will not pay for:</p>
<li>Theft or attempted theft</li>
<li>Vandalism or malicious acts</li>
<li>Water or oil escaping</li>
<li>Damage to plumbing installation by frozen or burst pipes</li>
<li>Accidental breakage of fixed glass and sanitary ware</li>
<br />

<p>Domestic pets:</p>
<li>Your policy will not pay for accidental damage by domestic pets</li>
<br />

<p>Escape of water:</p>
<li>
    Your policy will not pay for loss or damage caused by subsidence, heave or
    landslip that results from the escaping water
</li>
<br />

<p>Section 3 - Personal Possessions</p>

<p>What is covered:</p>
<li>
    Items that you normally take out of the home or on holiday such as jewellery, cameras, sports
    equipment, money and pedal cycles (up to £1,000 per cycle)
</li>
<br />

<p>Home Insurance Priority Line: 345-345-345</p>