@{
    ViewBag.Title = "Quote Terms";
    ViewBag.PageTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <a href="javascript:history.back()">Go Back</a>
</div>

<h2>Dwelling Coverage</h2>
<p>
    This amount is the minimum coverage needed to adequately insure your residence. It is an estimate based on the current
    cost to rebuild your home, not including the value of the land. If needed, this amount may be increased up to 50% of
    the amount displayed.

    This amount should reflect the cost to rebuild the insured property exactly as it is, using materials of like kind and
    quality, not including land value. In the event of a covered loss, this provides coverage for: your home; structures
    attached to your home; property permanently installed in your home such as wall-to-wall carpet, central air conditioner,
    built in appliances; and construction material at or next to the residence for use in connection with your dwelling.
    You may increase this amount if you feel additional coverage is needed. The amount paid on the loss will be reduced by
    the deductible you select.
</p>

<h2>Detached Structures</h2>
<p>
    In the event of a covered loss, this provides coverage for structures not attached to the dwelling or only connected to
    the dwelling by a utility line, fence or similar connection (e.g., detached garage, outbuildings or storage sheds,
    swimming pool, detached fence). The amount paid on the loss will be reduced by the deductible you select.ssss
</p>

<h2>Personal Property </h2>
<p>
    In the event of a covered loss or damage, this provides coverage for your personal possessions, defined as personal
    property owned or used by an insured person anywhere in the world (e.g., clothing, furniture, appliances that are not
    built in).
</p>

<h2>Additional Living Expenses </h2>
<p>
    In the event of a covered loss, if the dwelling is uninhabitable this provides coverage for additional living expenses
    (e.g., temporary housing such as a hotel and reasonable expenses necessary to maintain your normal standard of living).
</p>

<h2>Medical Expense</h2>
<p>
    In the event of a covered loss, this provides primary coverage for the medical expenses of a third-party who is injured
    while on the insured premises or is injured by an animal owned by or in the care of the insured person.
</p>

<h2>Deductible</h2>
<p>
    In the event of a covered loss, payment for property losses will be reduced by the deductible you select.
</p>